/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/cache/dev*
/app/config/parameters.yml
/app/logs/*
/app/phpunit.xml
/build/
/vendor/
/bin/
/nbproject/private/
nbproject

#Ficheros sitemas
.DS_Store
UPGRADE*
LICENSE*
/composer.phar
!app/cache/.gitkeep
!app/logs/.gitkeep
