{% extends 'base.html.twig' %}

{% block body %}
    <div class="centrar welcome">
    	<h1 class="h">Bienvenido</h1>
    	<div class="list-group">
		  <a class="list-group-item" href="{{path('homepage')}}">
		  	<i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
		  <!--a class="list-group-item" href="{{path('listaBoda')}}">
		  <i class="fa fa-bell fa-fw"></i>&nbsp; Wedding List</a-->
		  {% if is_granted('ROLE_ADMIN')%}
		  <a class="list-group-item" href="{{path('goin',{ 'name': 'name','id':'surname'  })}}">
		  	<i class="fa fa-bars fa-fw"></i>&nbsp; Go in!</a>
		  {% endif %}
		  <!--a class="list-group-item" href="/file.iso"><i class="fa fa-cog fa-fw"></i>&nbsp; Descarga</a-->
		</div>
		<a class="btn btn-danger" href="{{path("_logout")}}">
			<i class="fa fa-sign-out fa-lg"></i> log out!</a>
    </div>
{% endblock %}
