.body
{
	background: #e7e6e6;
}

.h
{
	color: #8f8787;
	text-align: center;
	padding-bottom: 10px;
}

#tablaLista span
{
	display: table-cell; 
	width: 200px;
	height: 880px;  
	background:#dfe2e5; 
	padding:20px;
}
.centrar
{
	background-color: #D8D8D8;
	overflow: hidden; 
	position: absolute;
}
.welcome
{
	height: 350px;
	width: 300px;
	left: 50%;
	top: 50%;
	margin-top: -125px;
	margin-left: -150px;
	padding:10px;
}
.lista
{
	height: 1090px;
	width: 1020px;
	left: 50%;
	top: 50%;
	margin-top: -320px;
	margin-left: -500px;
	margin-bottom: 50px;
	padding:10px;
}
.login
{
	height: 200px;
	width: 300px;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -150px;
	padding:10px;

}
