
.body
{
	background: #edcbcb;
	margin-top: 10px;
}

.h
{
	color: #7a6f6f;
	text-align: left;
}
.border
{
 	border: 1px solid black;
}

.center
{
	margin: 0 auto;
}
.columna
{
	/*height:990px;*/
	background:#dfe2e5;
}
.padding
{
	padding: 15px;
}
/*
********************A DEPRECAR********************


********************OBJETOS A CENTRAR**************
*/
.centrar
{
	background-color: #D8D8D8;
	overflow: hidden; 
	position: absolute;
	padding:10px;

}
.welcome
{
	height: 350px;
	width: 300px;
	left: 50%;
	top: 50%;
	margin-top: -125px;
	margin-left: -150px;
}
.lista2
{
	height: 1160px;
	width: 1020px;
	left: 50%;
	top: 50%;
	margin-top: -360px;
	margin-left: -510px;

}
.login
{
	height: 200px;
	width: 300px;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -150px;
}
.invitacion
{
	height: 320px;
	/*width: 450px;
	left: 50%;*/
	top: 50%;
	/*margin-top: -175px;*/
	margin-left: -220px;
}

/**/

